services:
  web:
    build: .
    ports:
      - "8082:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: lab8
      MYSQL_USER: lab8_user
      MYSQL_PASSWORD: lab8_pass
      MYSQL_ROOT_PASSWORD: root_pass
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot_pass"]
      interval: 5s
      timeout: 3s
      retries: 20

  phpmyadmin:
    image: phpmyadmin:latest
    restart: unless-stopped
    ports:
      - "8083:80"
    environment:
      PMA_HOST: db
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
